.left__header--text {
  font-weight: bold;
  width: 100%;
  font-size: 20px;

  background-origin: border-box;
  padding: 10px 0px;
}
.text__left {
  margin-left: 15px;
  padding: 10px 0px;
}
.in {
  color: rgb(56, 115, 151);
}
.box1 {
  width: 100%;
  padding: 10px 10px;
}

.topbox__right {
  height: 70px;
  border-bottom: 1px solid gray;
  position: relative;
}
.top__text {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 25px;
}
.midbox__right {
  padding: 15px 40px;
}

.left__input {
  width: 20%;
  height: 40px;
  border: 1px solid gray;
  display: inline-block;
  line-height: 40px;
  background-color: #ccc;
  padding-left: 10px;
}
.right__input {
  border: 1px solid gray;
  margin-left: 0px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  padding: 0px 15px;
  margin-left: -4px;
  border-left: none;
  border-bottom: none;
  width: calc(100% - 25%);
}
.midinput {
  height: 40px;
}
.right__input--text {
  padding-bottom: 3px 6px;
  width: 40%;
}
#last {
  border-bottom: 1px solid gray;
}
.bottom__button {
  width: 99.4%;
  height: 50px;
  border: 1px solid gray;
  border-top: none;
}
.bottom__button button {
  margin-top: 15px;
  margin-left: 15px;
  padding: 4px 40px;
  color: #fff;
  background-color: #2496ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
